<% if current_user %>
<h3>Organization: <%= @tenant.name %></h3>
<%= render 'projects/list' %>
<% else %>

<div class="jumbotron">
    <h2>Welcome to the GreebyTC sandbox!</h2>
    <p class="lead">...</p>
</div>

<% end %>