<% if current_user %>
<h3>Organization: <%= @tenant.name %></h3>
<%= render 'projects/list' %>
<% else %>

<div class="jumbotron">
    <h2>Welcome to the 231 Milia sandbox!</h2>
    <p class="lead">...I built this in 2016 - updating on 01-08-2020</p>
</div>

<% end %>