<% if current_user %>
<h3>Organization: <%= @tenant.name %></h3>
<% else %>

<div class="jumbotron">
    <h2>Welcome to the Project Management Application!</h2>
    <p class="lead">You'll love managing your project with our SaaS application. Please take a look at our great plans</p>
</div>

<% end %>